J:\Virtual Machines\PXE Test 64 bit\PXE Test 2.6.x 64-bit.vmx
V:\Virtual Machines\Clonezilla Test\Clonezilla Test.vmx
V:\Virtual Machines\DeikSlayer\DeikSlayer\DeikSlayer.vmx
V:\Virtual Machines\DRBL\DRBL.vmx
V:\Virtual Machines\FreeBSD 64-bit\FreeBSD 64-bit.vmx
V:\Virtual Machines\FreeNAS 0.7.x\FreeNAS 0.7.x.vmx
V:\Virtual Machines\Mac OS Snow Leopard\Mac OS Snow Leopard.vmx
V:\Virtual Machines\Microsoft Windows 8 (64-bit)\Microsoft Windows 8 (64-bit).vmx
V:\Virtual Machines\NAS4Free\NAS4Free.vmx
V:\Virtual Machines\OpenSUSE OTRS\OpenSUSE OTRS.vmx
V:\Virtual Machines\PacketFence-ZEN-4_2\PacketFence-ZEN-4_2.vmx
V:\Virtual Machines\PinguyOS\PinguyOS.vmx
V:\Virtual Machines\Stratodesk_Virtual_Appliance-20140409\Stratodesk_Virtual_Appliance-20140409.vmx
V:\Virtual Machines\SUSE Linux Enterprise 11 64-bit\SUSE Linux Enterprise 11 64-bit.vmx
V:\Virtual Machines\Ubuntu Vagrant 64-bit\Ubuntu Vagrant 64-bit.vmx
V:\Virtual Machines\Ubuntu Vagrant 64-bit Dev\Ubuntu Vagrant 64-bit Dev.vmx
V:\Virtual Machines\USB OS Installer\USB OS Installer.vmx
V:\Virtual Machines\Win 8 Dev (64-bit)\Win 8 Dev (64-bit).vmx
V:\Virtual Machines\Windows 7 x64\Windows 7 x64.vmx
V:\Virtual Machines\Windows XP 32 bit MSDN\Windows XP 32 bit MSDN.vmx
V:\Virtual Machines\Zentyal\Zentyal.vmx
